/********f************
    
    Project 4 Stylesheet
    Name: Kyle Sontag
    Date: 2025-04-24
    Description: CSS for project 4 - Trail Guardians

*********************/
html,body,section,h2,label,body,textarea,
p,header,nav,footer,div,fieldset,a,label,
article,aside,ol,ul,li,h1,input,button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}/*Reset for default browser styles*/

html{
    min-width: 330px;
}

body {
	background: url(Images/WaterRocks.jpg) no-repeat center center fixed;
    background-size: cover;
	font-family: Verdana, sans-serif;
    color: var(--black);
}/*Sets background and font style for page*/ 

div#everything {
    width: 100%;
    margin: 0 auto;
    display: flex;
}/*Creates container for page*/

#notnav{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    height: 100vh;
    margin-left: 15%;
}/*Structures content excluding nav*/

:root{
    --navColor: #212013;
    --black: #0C141D;
    --blueWhite: #B0C4D1;
    --darkBlue: #003775;
    --errorColour: #AD0000;
    --polaroidColour: #3996ff;
    --navDefault: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); /*Opaque links*/
    --navHover: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); /*Clear links*/
    --shadowHover: 1px 1px var(--darkBlue);
    --backgroundColour: rgba(75, 128, 188, 0.7); /*Semi transparent background*/
    --borderDefault: 2px solid var(--darkBlue);
}/*Defined CSS variables*/
/*---------------------Left Nav Bar---------------------*/
#nav{
    background-color:var(--navColor);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 10%;
    align-items: stretch;
    position: fixed;
    width: 15%;
}/*Creates left Nav with menu items in column*/

#nav a{
    text-decoration: none;
    text-align: center;
    font-size: 175%;
    color: var(--black);
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
}

#nav #home{
    background: var(--navDefault), url(Images/Rock.jpg) no-repeat center/cover;
}

#nav #about{
    background: var(--navDefault), url(Images/Sky.jpg) no-repeat center/cover;
}

#nav #contact{
    background: var(--navDefault), url(Images/Plants.jpg) no-repeat center/cover;
}

#nav #home:hover, #nav #home:focus {
    background: var(--navHover), url(Images/Rock.jpg) no-repeat center/cover;
}
#nav #about:hover, #nav #about:focus {
    background: var(--navHover), url(Images/Sky.jpg) no-repeat center/cover;
}
#nav #contact:hover, #nav #contact:focus {
    background: var(--navHover), url(Images/Plants.jpg) no-repeat center/cover;
}/*From here to last comment, styles the links in the nav bar*/
/*---------------------Ham Nav---------------------*/
#hamburger{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
}/*Creates styles and hides hamburger for later use*/

#hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: var(--darkBlue);
    transition: 0.4s;
}/*Creates styles and hides hamburger for later use*/

/*---------------------Main Heading---------------------*/
#header{
    background-color: var(--backgroundColour);
    margin-top: 7.5%;
    height: 15vh;
    width: 100%;
    border-top: 2px solid var(--darkBlue);
    border-right: 2px solid var(--darkBlue);
    border-bottom: 2px solid var(--darkBlue);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
}/*Creates styling for page header*/

#header h1{
    padding: 5%;
    font-size: 300%;
}/*Styles header text*/   
/*---------------------Main Content---------------------*/
#main{
    background-color: var(--backgroundColour);
    border: var(--borderDefault);
    border-radius: 8px;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    padding: 1%;
}/*Styles the area for body text*/

#main h2{
    font-size: 200%;
}/*Text size for body headings*/

#main p{
    font-size: 100%;
    padding: 1%;
    color: var(--black);
}/*Styles body text*/

#main a{
    text-decoration: underline;
    color: var(--darkBlue);
}/*Styles body links*/

#main a:hover, #main a:focus {
    color: var(--blueWhite);
    text-shadow: var(--shadowHover);
}/*Styles body hover/focus*/

#main #falcon{
    width: 50%;
    max-width: 600px;
    margin: 1% auto;
    background-color: var(--blueWhite);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}/*Sets container size for photo*/

#main #falcon img {
    width: 100%;
    display: block;
}/*Photo size*/

#main #polaroid{
    text-align: center;
    padding: 10px 20px;
}/*Text style*/

#main #polaroid a:hover,
#main #polaroid a:focus{
    text-shadow: none;
    color: var(--polaroidColour);
}/*Sets focus and hover properties for polaroid link*/

/*---------------------Contact Us---------------------*/
#contactform legend{
    font-size: 120%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}/*Styles contact sections*/

#contactform fieldset{
    border: none;
}/*Removes body internal border from fieldset*/

#contactform .error{
    color: var(--errorColour);
    font-weight: bold;
    display: none;
}/*Styles errors*/

#volunteerdiv, #traildiv, #donatediv, #otherdiv{
    display: none;
    flex-direction: column;
    padding-top: 2%;
}/*Styles textarea*/

#contactform li{
    list-style-type: none;
    padding-left: 2%;
}/*Styles list items in contactform*/

#contactform #textfields{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}/*Styles text input in contactform*/

#contactform label:hover,
#contactform label:focus{
    color: var(--blueWhite);
    text-shadow: var(--shadowHover);
}/*Controls lable hover/focus*/

#contactform #textfields input:hover, 
#contactform #textfields input:focus {
    border: var(--borderDefault);
}/*Controls text input hover/focus*/

#contactform #radio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}/*Styles radio buttons*/

#contactform #radio label:hover, 
#contactform #radio label:focus {
   color: var(--blueWhite);
   text-shadow: 2px 2px var(--darkBlue);
}/*Hover/focus for radio button label*/

#contactform textarea:hover,
#contactform textarea:focus{
    border: var(--borderDefault)
}/*Hover/focus for textarea*/

#contactform #buttons {
    display: flex;
    gap: 1%;
}/*Create structure clear and submit buttons*/

#contactform #buttons button{
    flex: 1;
    font-size: 125%;
    color: var(--darkBlue);
    height: 5vh;
    cursor: pointer;
}/*Styles clear and submit buttons*/

#contactform #buttons button:hover, 
#contactform #buttons button:focus {
    background-color: var(--darkBlue);
    color: var(--blueWhite);
    border: var(--borderDefault);
}/*Hover/focus for clear and submit*/
/*---------------------Footer---------------------*/
#footer{
    background-color: var(--backgroundColour);
    border: var(--borderDefault);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25%;
    font-size: 80%;
    width: fit-content;
    padding: 0.25%;
}/*Styles space for footer*/

#footer #links{
    white-space: nowrap;
    padding-left: 2%;
    padding-right: 1%;
}/*Rules for footer links*/

#footer p{
    color: var(--black);
}/*Styles footer text */

#footer a{
    text-decoration: underline;
    color: var(--darkBlue);
}/*Styles for footer links*/

#footer a:hover, #footer a:focus {
    color: var(--blueWhite);
    text-shadow: var(--shadowHover);
}/*Hover/focus for footer links*/

@media screen and (max-width: 850px) {
    /*New display settings starting at 850px*/
    #header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        border-left: 2px solid var(--darkBlue);
        height: 10vh;
    }/*Edits header display for smaller screen*/

    #header h1 {
        font-size: 200%;
    }/*Adjusts title size for smaller screens*/

    #nav {
        position: fixed;
        top: 0;
        right: -100%;  
        width: 80%;
        height: 100vh;
        background-color: var(--navColor);
        z-index: 950;
        padding-top: 20vh;
        transition: right 0.3s ease;
    }/*Edits nav settings, starts off screen*/

    #nav.active {
        right: 0;  
    }/*When nav is active comes into view*/

    #hamburger {
        display: block;
        cursor: pointer;
        position: fixed;
        top: 0;
        right: -15px;
        z-index: 1000;
    }/*Activator for nav, fixed top right of screen partially out of view*/

    #notnav {
        flex-basis: auto;
        margin-left: 0;
        margin-top: 15vh;
        width: 100%;
        min-height: 85vh;
    }/*New settings for all content that isnt nav*/

    #main{
        padding-left: 2%;
        padding-right: 2%;
    }/*Adjusts padding*/

    #main #falcon{
        width: 80%;
    }/*Allows photo to take more screen space*/

    #contactform #textfields {
        flex-direction: column;
    }/*Adjusts textfields*/

    #contactform #textfields li {
        margin-bottom: 15px;
    }/*Creates some spacing between lines for text inputs*/

    #contactform #textfields label {
        margin-bottom: 5px;
    }/*Creates some space underneath text label*/

    #contactform #textfields input{
        margin-left: 20px;
        max-width: 300px;
    }/*New styles for text input*/

    #contactform #radio {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2%;
    }/*Styles to reorganize radio buttons*/

    #contactform #radio li {
        margin-bottom: 10px;
    }/*Space between radio buttons*/

    #footer {
        width: 90%;
        text-align: center;
    }/*Adjusts footer style*/
}